/* ________________________iPhone______________________________*/

@media (max-width: 415px) {

    body {
        width: 100%;
        margin: auto;
        padding: 0px 0px 0px 0px
    }
    #all {
        width: auto;
        margin: auto;
        padding: 0px 8px 15px 8px

    }
    h1 {
        font-size: 225%;
        text-align: left;
        margin-bottom: 10px;
    }

    h2:before {
        content: "";
        display: inline-block;
        margin-right: 0%;
        width: 0%;
        height: 10px;
    }

    h3 {
        text-align: left;
    }
  
/* -------- Menu Bar ------ */
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* ________________________BIG SCREEN______________________________*/

@media (min-width: 850px) {
    body {
        width: 850px;
        margin: auto;
    }
    h1 {
        font-size: 250%;
        text-align: left;
        margin-bottom: 15px;
    }
    h2:before {
        content: "";
        display: inline-block;
        margin-right: 1%;
        width: 15%;
        height: 10px;
        background-color: #16a085;
    }
    h3 {
        text-align: left;
    }
}


/* ________________________SCREEN______________________________*/

a {
    text-decoration: none;
}
a:link {
    color: #2c3e50;
}
a:visited { 
    color: #2c3e50;
}
body {
    font-family: 'Open Sans';
    color: #2c3e50;
    background-color: white;
}
h2 {
    color: #16a085;
}
p {
    margin-top: 0;
    margin-bottom: 7px;
}
blockquote {
    text-align: left
}
hr {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #34495e;
}
.title_school {
    font-size: 110%;
    display: inline-block;
    color: #1abc9c;
}
.name_school {
    display: inline-block;
    color: #95a5a6;
}
.title_description {
    text-align: left;
    color: #1abc9c;
}

/* -------- Menu Bar ------ */
.topnav {
  overflow: hidden;
  background-color: #34495e;
  border-radius: 0px 0px 0px 0px;

}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 100%;
}
.topnav a:hover {
  color: #1abc9c;
}
.topnav .icon {
  display: none;
}


