
/* ________________________iPhone______________________________*/
@media (min-width: 319px) and (max-width: 415px) {
    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: auto;
    margin: auto;
    color: black;
    background: #ecf0f1;
    padding: 10px 10px 10px 10px;
    }

    /* Title of the resume */
    h1 {
    font-size: 225%;
    text-align:center;
    margin-bottom:15px;
    }

    /* There is a bar just before each category */
    h2:before {
    content: "";
    display: inline-block;
    margin-right:0%;
    width: 0%;
    height: 10px;
    background-color: #7f8c8d;
    }


    .date {
    visibility: hidden;
    }

    /* Definitions */
    dt {
    float: left;
    clear: left;
    width: 0%;
    /*font-weight: bold;*/
    }

    dd {
    margin-left: 0%;
    }

 }


/* ________________________BIG SCREEN______________________________*/
@media (min-width: 416px) {
   body {
    font-family: 'Open Sans';
    width: 850px;
    margin: auto;
    color: black;
    background: #ecf0f1;
    padding: 10px 10px 10px 10px;
    }


    /* Title of the resume */
    h1 {
    font-size: 250%;
    text-align:center;
    margin-bottom:15px;
    }


    /* There is a bar just before each category */
    h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 15%;
    height: 10px;
    background-color: #16a085;
    }

    /* Definitions */
    dt {
    float: left;
    clear: left;
    width: 17%;
    /*font-weight: bold;*/
    }

    dd {
    margin-left: 17%;
    }

}





















/*******************************************************************************************************************************************************************/
a:link {
    color: #bdc3c7;
}

/* Blockquotes */
blockquote {
text-align: center
}


/* Titles of categories */
h2 {
    /* This is called "sectioncolor" in the ConTeXt stylesheet. */
    color: #16a085;
}


h3 {
    text-align: center;
}



p {
    margin-top:0;
    margin-bottom:7px;
}


/* Links */
a {
    text-decoration: none;
    color:green;
}


/* Horizontal separators */
hr {
    margin-top:5%;
    margin-bottom:5%;
    color: #34495e;
}



.title_school {
        font-size: 110%;
        display: inline-block;
        color: #1abc9c;
}

.name_school {
        display: inline-block;
        color: #95a5a6;
}

